<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.durcframework.rms.dao.RRolePermissionDao">
	<resultMap id="queryResultMap" type="org.durcframework.rms.entity.RRolePermission">
		<result column="role_id" property="roleId" jdbcType="INTEGER" />
		<result column="sf_id" property="sfId" jdbcType="INTEGER" />
	</resultMap>

	<select id="find" parameterType="org.durcframework.expression.ExpressionQuery"
		resultMap="queryResultMap">
		SELECT *
		FROM r_role_permission t
		<include refid="expressionBlock.where" />
		<choose>
			<when test="sortname == null">
				ORDER BY role_id desc
			</when>
			<otherwise>
				ORDER BY ${order}
			</otherwise>
		</choose>
		<if test="!isQueryAll">
			LIMIT
			#{firstResult,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</select>


	<select id="findTotalCount" parameterType="org.durcframework.expression.ExpressionQuery"
		resultType="java.lang.Integer">
		SELECT count(*) FROM r_role_permission t
		<include refid="expressionBlock.where" />
	</select>

	<insert id="save" parameterType="org.durcframework.rms.entity.RRolePermission"
		keyProperty="rpId" keyColumn="rp_id" useGeneratedKeys="true">
		INSERT INTO r_role_permission
		(
		role_id
		, sf_id
		)
		VALUES (
		#{roleId,jdbcType=INTEGER}
		, #{sfId,jdbcType=INTEGER}

		)
	</insert>


	<update id="update" parameterType="org.durcframework.rms.entity.RRolePermission">
		UPDATE r_role_permission
		SET
		WHERE rp_id = #{rpId,jdbcType=INTEGER}
	</update>

	<select id="get" resultMap="queryResultMap" parameterType="java.io.Serializable">
		SELECT *
		FROM r_role_permission
		WHERE rp_id = #{rpId,jdbcType=INTEGER}
	</select>

	<delete id="del" parameterType="org.durcframework.rms.entity.RRolePermission">
		DELETE FROM r_role_permission
		WHERE rp_id = #{rpId,jdbcType=INTEGER}
	</delete>
	
	<delete id="delBySfId" parameterType="int">
		DELETE FROM r_role_permission
		WHERE sf_id = #{sfId,jdbcType=INTEGER}
	</delete>
	
	<insert id="setFunctionRole" parameterType="org.durcframework.rms.entity.FunctionRoleParam">
		INSERT INTO r_role_permission
		(
		`role_id`,
        `sf_id`
		)
		VALUES 
		<foreach collection="roleIds" item="roleId" separator=",">
		(#{roleId,jdbcType=INTEGER},#{sfId,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
	<select id="findRolePermissionByFunction" parameterType="String" resultMap="queryResultMap">
	SELECT * FROM `r_role_permission` r
	WHERE r.`role_id` IN (
		SELECT t.`role_id` FROM `r_user_role` t
		WHERE t.`username` = (SELECT u.`username` FROM `r_user` u WHERE u.`username`=#{username,jdbcType=VARCHAR})
	)
	</select>
	
	<select id="findRoleFunc" parameterType="int" resultType="org.durcframework.rms.entity.RoleFunction">
	SELECT 
		rp.`role_id` as roleId
		,sf.`func_name` as funcName
	FROM `r_role_permission` rp INNER JOIN `r_sys_function` sf ON rp.`sf_id` = sf.`sf_id`
	WHERE rp.`role_id` = #{roleId,jdbcType=INTEGER}
	</select>
	
</mapper>